<div id="nav-down">
    <ul style="display: flex;">
        <li class="shop-all"><a asp-controller="shop" asp-action="index">Shop All</a></li>
        <li class="categories">
            <a class="categories-menu-title" href="">Categories</a>
            <ul class="categories-container">

                    <li class="category">
                        <a class="parent-category" href="#"></a>
                        <ul>
                            <li><a class="child-category" href=""></a></li>
                            <li><a class="child-category" href=""></a></li>
                        </ul>
                    </li>

            </ul>
        </li>
        <li class="blogs"><a asp-controller="blogs" asp-action="index">Blogs</a></li>
    </ul>
</div>