<header>
    <nav>
        <div id="nav-up">
            <div id="nav-up-leftside">
                <img src="../assests/images/home-images/logo.PNG" alt="Logo">
                <span>Free Shipping for orders over 50$</span>
            </div>
            <div id="nav-up-rightside">
                <ul>
                    <li><a asp-controller="home" asp-action="about">About</a></li>
                    <li><a asp-controller="home" asp-action="contact">Contact</a></li>
                    <li><a asp-controller="faqs" asp-action="index">Help Center</a></li>
                    <li style="padding-right: 0;">
                        <a style="text-decoration: none;"
                           href="tel:123-456-7890">Callus</a>
                    </li>
                    <li><a href="tel:123-456-7890">123-456-7890</a></li>
                </ul>
            </div>
        </div>
        <div id="nav-secondary">
            <div id="nav-secondary-leftside">
                <h1>TechShed</h1>
                <div>
                    <input placeholder="Search..." type="text">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div id="nav-secondary-rightside">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-user"></i><span>Log In</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-heart"></i><span>Favorites</span></a></li>
                    <li style="position: relative;top: -10px;">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <i style="font-size: 30px;" class="fa-solid fa-basket-shopping"></i>
                            <span>0</span>
                        </button>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                             aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Cart</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    Cart is empty
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <partial name="_Navbar"/>




    </nav>
</header>

