@model ShopIndexViewModel
<section id="shopAll">
    <h1>Shop All</h1>
    <div id="shopAllContainer">
        <div class="filterBy">
            <h2>Filter by</h2>
            <hr>
            <span style="font-size: 25px;font-weight: 400;">All Categories</span>
            <br><br>

                <div class="categories">
                    @Extension.GetCategoriesRaw(Model.Categories)
                </div>

                <div class="brands">
                    <hr>
                    <h3>Brands</h3>

                    @foreach (var item in Model.Brands)
                    {
                        <input type="checkbox"> <span>@item.Name</span><br>
                    }


                </div>
            <hr>
            <span style="font-weight: 400; font-size: 20px;">Price</span><br><br>
            <input type="range" min="$70.00" max="$85.00">
        </div>
        <div id="shopAll-products">

            <div id="shopAll-products-row1">
                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_67a4de6683784fbbb684418e49d5d854~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_67a4de6683784fbbb684418e49d5d854~mv2.webp" alt="">
                        <p>Sheer 10.2" Tablet With Wi-Fi , 32GB</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_9a6d29ecf9c640b28cc79f695e9fb3c2~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_9a6d29ecf9c640b28cc79f695e9fb3c2~mv2.webp" alt="">
                        <p>JP - Space Tablet 10.4" Wi-Fi 32GB</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_23738414163d418092290f6b9becc5f5~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_23738414163d418092290f6b9becc5f5~mv2.webp" alt="">
                        <p>Pilates Go 10.5" Touch-Screen, 64GB With Cover</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_5669a61229d34b15b7ff71c4f2269a4b~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_5669a61229d34b15b7ff71c4f2269a4b~mv2.webp" alt="">
                        <p>Ove Tablet FD Plus - 10.3",  32GB</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>
            </div>

            <div id="shopAll-products-row2">

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_91ee238e5ee447878278fd04f4d3fafe~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_91ee238e5ee447878278fd04f4d3fafe~mv2.webp" alt="">
                        <p>Sheer Pro 7.9-Inch Mini Tablet</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_a055ae2dfe6f457b9c2f6f3fa6d95126~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_a055ae2dfe6f457b9c2f6f3fa6d95126~mv2.webp" alt="">
                        <p>Ocean Pro 11 - 12.3" Touch Screen</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_597373dec7644ad2818277724199fb0c~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_597373dec7644ad2818277724199fb0c~mv2.webp" alt="">
                        <p>Corr Playtime 10.3",  32GB With Wi-Fi</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_01a8a61a9f6c4e3a97711b8c684050e9~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_01a8a61a9f6c4e3a97711b8c684050e9~mv2.webp" alt="">
                        <p>Pilates 14" Touch Screen Laptop 12GB Memory</p>
                        <span>$85.00</span>
                    </a>
                </div>
            </div>

            <div id="shopAll-products-row3">
                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_dbf65eb585cf415ba135313576716352~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_dbf65eb585cf415ba135313576716352~mv2.webp" alt="">
                        <p>Turn5 Portable Bluetooth Speaker With Handle</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_bb3cb6edf9ff4594817c7a2aaedd2a15~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_bb3cb6edf9ff4594817c7a2aaedd2a15~mv2.webp" alt="">
                        <p>TV Bluetooth Soundbar With HDMI-ARC Connectivity</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_09339ee46fd441b8bdaf76b3a7081135~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_09339ee46fd441b8bdaf76b3a7081135~mv2.webp" alt="">
                        <p>Pill Shape Silver Portable Bluetooth Speaker</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_d4488c12f2bc40dfbd1bbd82956eb97a~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_d4488c12f2bc40dfbd1bbd82956eb97a~mv2.webp" alt="">
                        <p>Round Mini Portable Bluetooth Speaker</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>
            </div>

            <div id="shopAll-products-row4">

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_68fb3f3fcf134e91a00a956483ba56f8~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_68fb3f3fcf134e91a00a956483ba56f8~mv2.webp" alt="">
                        <p>Studio 8 Portable Bluetooth Speaker</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_65076c29d2de4910b9376408663514c2~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_65076c29d2de4910b9376408663514c2~mv2.webp" alt="">
                        <p>Balo Headphones 700 Wireless Noise Cancelling</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_68efa76790cf48a7acdb518977ce72a1~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_68efa76790cf48a7acdb518977ce72a1~mv2.webp" alt="">
                        <p>Space Buds True Wireless Earbud Headphones</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_31759778ff1248978471f8cc44c24f9d~mv2.png/v1/fill/w_483,h_483,al_c,q_85,usm_0.66_1.00_0.01/c22c23_31759778ff1248978471f8cc44c24f9d~mv2.webp" alt="">
                        <p>Drums Pro Wireless On-Ear Headphones</p>
                        <span>$85.00</span>
                    </a>
                </div>
            </div>

            <div id="shopAll-products-row5">
                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_483,h_483,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt="">
                        <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products">
                    <a href="#">
                        <br>
                        <img src="https://static.wixstatic.com/media/c22c23_77c2b89535374768bec1d6337dcdbddc~mv2.jpg/v1/fill/w_483,h_483,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77c2b89535374768bec1d6337dcdbddc~mv2.webp" alt="">
                        <p>Shel 50" Class LED 4K UHD Smart TV</p>
                        <span>$85.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_396e7b1e80764edca161180595507710~mv2.jpg/v1/fill/w_483,h_483,al_c,q_80,usm_0.66_1.00_0.01/c22c23_396e7b1e80764edca161180595507710~mv2.webp" alt="">
                        <p>Space Moon Smartwatch With Charger</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>

                <div class="products sale">
                    <a href="#">
                        <span>Sale</span><br>
                        <img src="https://static.wixstatic.com/media/c22c23_75059a72af5e4949aecdfbda8746f4ef~mv2.jpg/v1/fill/w_483,h_483,al_c,q_80,usm_0.66_1.00_0.01/c22c23_75059a72af5e4949aecdfbda8746f4ef~mv2.webp" alt="">
                        <p>Fitboot Inspire Fitness Tracker With Heart Rate Tracking</p>
                        <span><del>$85.00</del></span>
                        <span>$70.00</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="loadMore"><button>Load More</button></div>
    </div>
</section>