<section id="about-techshed">
    <h1>About TechShed</h1>
    <hr>
    <div id="about-techshed-container">
        <div id="about-techshed-leftside"></div>
        <div id="about-techshed-rightside">
            <p>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            </p>
            <br>
            <p>
                This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
            </p>
        </div>
    </div>
</section>
<hr style="margin-top: 70px;">

<section id="careers">
    <h2>Careers</h2>
    <p>Check out our job postings & opportunities waiting for you</p>
    <form action="#">
        <div id="form-container">
            <div id="form-container-leftside">
                <label for="firstName">First Name</label><br><br>
                <input type="text" name="firstName" id="firstName"><br><br>
                <label for="email">Email *</label><br><br>
                <input type="email" name="email" id="email"><br><br>
                <label for="position">Position You Apply for</label><br><br>
                <select name="position" id="position">
                    <option value="" disabled selected hidden>Select Position</option>
                    <option value="In-store Sales">In-store Sales</option>
                    <option value="Store Leadership">Store Leadership</option>
                    <option value="In-store Operations">In-store Operations</option>
                    <option value="Wearhouse & Logistics">Wearhouse & Logistics</option>
                    <option value="eCommerce">eCommerce</option>
                </select>
            </div>
            <div id="form-container-rightside">
                <label for="firstName">Last Name</label><br><br>
                <input type="text" name="lastName" id="lastName"><br><br>
                <label for="phone">Phone</label><br><br>
                <input type="tel" name="phone" id="email" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required><br><br>
                <label for="startDate">Available Start Date *</label><br><br>
                <input type="date" name="startDate" id="startDate">
            </div>
        </div><br>
        <div class="linkResume">
            <label for="url">Link to Resume</label><br><br>
            <input type="url" name="url" id="url">
            <button>Submit</button>
        </div>

    </form>
</section>