<section id="best-prices">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div style="background-image:url(https://cdn.pixabay.com/photo/2018/01/18/19/06/time-3091031__340.jpg) ;background-position: center;background-size: cover;background-repeat: no-repeat;" class="carousel-item active">
                <div class="carousel-content">
                    <span>Best Prices</span>
                    <h1 style="color: white;">
                        Incredible Prices <br> on All Your <br> Favorite Items
                    </h1>
                    <p style="color: white;">Get more for less on selected brands</p>
                    <a href="#">Shop Now</a>
                </div>
            </div>

            <div style="background-image:url(https://media.istockphoto.com/photos/man-using-digital-tablet-online-connect-to-internet-banking-currency-picture-id1334591614?b=1&k=20&m=1334591614&s=170667a&w=0&h=ZngH_Lm0WEYyhroGUvksCLxgKNYJCwSQIkPF6Sd_eLw=) ;background-position: center;background-size: cover;background-repeat: no-repeat;" class="carousel-item">
                <div class="carousel-content">
                    <span>Best Prices</span>
                    <h1 style="color: white;">
                        Incredible Prices <br> on All Your <br> Favorite Items
                    </h1>
                    <p style="color: white;">Get more for less on selected brands</p>
                    <a href="#">Shop Now</a>
                </div>
            </div>

            <div style="background-image:url(https://media.istockphoto.com/photos/cyber-security-login-with-fingerprint-picture-id1347945404?b=1&k=20&m=1347945404&s=170667a&w=0&h=O3ShdAjixPCpCk-8yiTIbDlnAvW2XcD4p_CPeMd_How=) ;background-position: center; background-size: cover;background-repeat: no-repeat;" class="carousel-item">
                <div class="carousel-content">
                    <span>Best Prices</span>
                    <h1 style="color: white;">
                        Incredible Prices <br> on All Your <br> Favorite Items
                    </h1>
                    <p style="color: white;">Get more for less on selected brands</p>
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




</section>

<section id="brands">
    <div class="brand">
        <div>
            <span>Holiday Deals</span><br>
            <span style="font-size: 50px;font-weight: 600;">Up to <br> 30% off</span><br>
            <span>Selected Smartphone Brands</span><br><br>
            <a href="#">Shop</a><br>
        </div>

    </div>
    <div class="brand">
        <span>Just In</span><br>
        <span style="font-size: 50px;font-weight: 600;">Take Your <br> Sound <br> Anywhere</span><br>
        <span>Top Headphone Brands</span><br><br>
        <a href="#">Shop</a><br>
    </div>
</section>

<section id="delivery">
    <div>
        <img src="../assests/images/home-images/delivery1.PNG" alt="">
        <span>Curb-side  pickup</span>
    </div>
    <div>
        <img src="../assests/images/home-images/delivery2.PNG" alt="">
        <span>Free shipping on  orders over $50</span>
    </div>
    <div>
        <img src="../assests/images/home-images/delivery3.PNG" alt="">
        <span>Low prices  guaranteed</span>
    </div>
    <div>
        <img src="../assests/images/home-images/delivery4.PNG" alt="">
        <span>Available to you  24/7 </span>
    </div>

</section>
<hr style="margin-left: 100px; margin-right: 100px;margin-top: 60px;">
<section id="best-sale">
    <h2>Best Sellers</h2>
    <div class="products">

        <div class="products-items">
            <a href="#">
                <br>
                <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt=""><br>
                <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                <span class="price">$85.00</span>
            </a>
        </div>



        <div class="products-items">
            <a href="#">
                <br>
                <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt=""><br>
                <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                <span class="price">$85.00</span>
            </a>
        </div>


        <div class="products-items">
            <a href="#">
                <br>
                <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt=""><br>
                <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                <span class="price">$85.00</span>
            </a>
        </div>


        <div class="products-items">
            <br>
            <a href="#">
                <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt=""><br>
                <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                <span class="price">$85.00</span>
            </a>
        </div>


        <div class="products-items">
            <br>
            <a href="#">
                <img src="https://static.wixstatic.com/media/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_77a52a8e6f8b4879a6548e11a3df3613~mv2.webp" alt=""><br>
                <p>HKI Tech Quadcopter Drone With 360 Camera & Controller</p>
                <span class="price">$85.00</span>
            </a>
        </div>


        <div class="products-items">
            <br>
            <a href="#">
                <img src="https://static.wixstatic.com/media/c22c23_35b786fdd0bb443e9ac09561af1569d3~mv2.jpg/v1/fill/w_354,h_354,al_c,q_80,usm_0.66_1.00_0.01/c22c23_35b786fdd0bb443e9ac09561af1569d3~mv2.webp" alt=""><br>
                <p>Safay GEN 2 256GB VR headset With Touch Controllers</p>
                <span class="price">$85.00</span>
            </a>
        </div>

    </div>

    <a class="viewAll" href="#">View All</a>
</section>

<section id="shopByCategory">
    <h2>Shop by Category</h2>

    <div class="all-categories">
        <a href="">
            <div class="category">
                <img src="../assests/images/download.jfif" alt="">
                <p><span>Computers</span></p>
            </div>
        </a>


        <a href="">
            <div class="category">
                <img src="../assests/images/download.jfif" alt="">
                <p><span>Computers</span></p>
            </div>
        </a>

        <a href="">
            <div class="category">
                <img src="../assests/images/download.jfif" alt="">
                <p><span>Computers</span></p>
            </div>
        </a>

        <a href="">
            <div class="category">
                <img src="../assests/images/download.jfif" alt="">
                <p><span>Computers</span></p>
            </div>
        </a>

        <a href="">
            <div class="category">
                <img src="../assests/images/download.jfif" alt="">
                <p><span>Computers</span></p>
            </div>
        </a>
    </div>
</section>





<section id="todaySpecial">
    <div id="todaySpecial-leftside">
        <span style=" background-color: #D72D2D;color: white;font-size: 20px;font-weight: 200;padding: 1px 5px;">  Today's Special  </span><br>
        <p style="font-size: 35px;margin-bottom: 0;margin-top: 15px;">Best Arial View in Town</p>
        <span style="font-size: 90px;color: #751FFF;">30%</span>  <span style="font-size: 90px;margin-left: 10px;">OFF</span>
        <p style="font-size: 30px;">on professional camera drones</p>
        <p style="font-size: 17px;font-weight: 200;margin-bottom: 40px;">
            Limited quantities.
            <br>
            See product detail pages for availability.
        </p>
        <a href="#">Shop</a>
    </div>
    <div id="todaySpecial-rightside"></div>
</section>

<section style="margin-bottom: 100px;" id="brand">
    <h2 style="display: flex;justify-content: center;margin-bottom: 50px;">Brands</h2>
    <img style="width:1200px ;height: 150px;margin-left: 150px;" src="../assests/images/home-images/Capture.PNG" alt="">
</section>

<section id="newsLetter">
    <h2>Newsletter</h2>
    <p>Sign up to receive updates on new arrivals and special offers</p>
    <label for="yourEmail">Email*</label>
    <div>
        <input placeholder="Your Email Here" name="yourEmail" id="yourEmail" type="text">
        <button>Subscribe</button>
    </div>
</section>